@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  @include responsive(laptop) {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  
  &__container {
    @include responsive(laptop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1650px;
    margin: 0 auto;
  }
}

&__logo img {
  @include responsive(laptop) {
  max-height: 40px;
  margin-right: 10px;
}
}

&__logo span {
  @include responsive(laptop) {
  font-size: 18px;
  }
}
  

&__user a {
  @include responsive(laptop) {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-right: 20px;
  }
}
  
&__button {
  @include responsive(laptop) {
    padding: 8px 20px;
    background-color: #ff385c;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
  
&__user{
  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
}
}

&__submenu {
  @include responsive(laptop) {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  max-width: 1200px;
  margin: 0 auto;}
}

&__submenu-item {
  @include responsive(laptop) {
  margin-right: 10px;
}
}

&__submenu-item2 {
  @include responsive(laptop) {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 32px;
  outline: none;
}
}

&__submenu-item input::placeholder {
  @include responsive(laptop) {
  color: #717171;
}
}

&__submenu-item button {
  @include responsive(laptop) {
  padding: 12px 24px;
  background-color: #ff385c;
  color: #fff;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
}


&__submenu-item button i {
  @include responsive(laptop) {
  margin-right: 8px;
}
}

&__submenu-item button:hover {
  @include responsive(laptop) {
  background-color: #ff1c4e;
}
}
}

.searcher {
  width: 1rem;
  height: 1rem;
}

.toggle-menu {
  margin-left: 2rem;
  cursor: pointer;
  width: 40px;
}


.hide {
  display: none;
}

.hamburger {
  display: flex;
  width: 50px;
  top:2rem;
}


.main-page{
    @include responsive(laptop) {
        position: absolute;
        top: 6rem;
    z-index: 1;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}
}
.main-background{
    @include responsive(laptop) {
        position: absolute;
        top: 0rem;
        background-color: #ff385c;
        opacity: 0.2;
    z-index: 1;
    width: 90%;
    height: 2000px;
    left: 0
}
}

  .main-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0rem;
    font-weight: bold;
    height: 415px;
    margin: 4rem;
    @include responsive(laptop) {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: end;
      margin: 0rem;
      margin-left: -3rem;
      font-size: 1.5rem;
      z-index: 1;
      background-color: #ff385c;
      height: 2000px;
      width: 13rem;
    }
  }
  
  .main-menu-item {
    font-size: 1.1rem;
    color: var(--principal);
    padding: 1rem;
    margin-top: 2.5rem;
    @include responsive(laptop) {
      color: #333;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-top: 0.5;
      margin: 0;
    }
  }


  a:hover {
    color: #ff4500;
  }

